<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	
	
	
	<entry key="selectAttachment">
		select
			file_no,
			ref_type,
			ref_no,
			origin_name,
			change_name,
			file_path,
			upload_date
		from ATTACHMENT
		where ref_type= ?
	
	</entry>
	
	<entry key="updateAttachment">
		UPDATE 
		       ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		     , UPLOAD_DATE = SYSDATE
		 WHERE REF_TYPE =?
	</entry>
	
</properties>


