<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectDonationList">
		SELECT
		       DO_NO
		     , DO_TITLE
		     , DO_WRITEDATE
		     , MEM_NO
		     , DO_COUNT		     
		  FROM DONATION D
		  JOIN MEMBER M USING(MEM_NO)
		 ORDER
            BY DO_WRITEDATE DESC
	</entry>

	<entry key="selectPostList">
		SELECT
		       DO_NO
		     , DO_TITLE
		     , DO_CONTENT
		     , DO_WRITEDATE
		     , DO_ADMISSION
		     , MEM_NO
		     , REF_TYPE
		     , DO_COUNT
		  FROM DONATION D
		  JOIN MEMBER M USING(MEM_NO)
		 ORDER
		    BY DO_WRITEDATE DESC
	</entry>
	
</properties>